<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--	
   $Autor:			Franlin Colque S.
   $identificador: 	isx1535386	
   $Date: 			2018/05/19 
-->

<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experiencias</h2>
		<hr class="bar"/>
	</div>
<section id="cd-timeline" class="cd-container">
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2 class="story-heading">Estudiante de la secundaria</h2>
		<P>Estudie y termine el instituto en este año en mi Pais de procedencia Bolivia</P>
		<span class="cd-date">2010-2013</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Estudios Postobligatorios</h2>
		<p>Estudie el bachillerato científico en Cataluña.
			Habia llegado recientemente de mis pais y tuve una dificial 
			adapctación pero al final si logre sacarme el titulo.</p>
		<span class="cd-date">sept 2013</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Estudiante de CFGS</h2>
		<p>Al acabar bachillerato  decidi Estudiar un ciclo superior
		de informatica porque es lo que más me aposionaba y es lo que continuo
		estudiando.</p>
		<span class="cd-date"> Sept 2016</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>

	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Académia de Ingles</h2>
		<p>Empeza la académia de ingles porque me era imprescindible
		para formarme en la família de informática</p>
		<span class="cd-date">Sept 2017 - now</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Habilidades</h2>
		<p>Los obstáculos que he enfrentado en mi vida personal y profesional 
		me han impulsado a desarrollar mis fortalezas, de las cuales, las más destacadas son:
		Facilidad para trabajar en equipo y facil adaptación, como tambien 
		persistencia y constancia para obtener los resultados deseados
		,además de una buena capacidad de comunicación, sobre todo verbalmente.
		También destacar del trabajo autónomo que puedo realizar , y buena 
		capacidad para adaptarse a los cambios .
		Sobre todo una motivación alta a la hora de comenzar un nuevo proyecto</p>
		<span class="cd-date">Skills</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>

</section>
</div>
